[submodule "스프링 부트 - 핵심 원리와 활용"]
	path = 스프링 부트 - 핵심 원리와 활용
	url = https://github.com/my-own-study/spring-boot.git
[submodule "스프링 시큐리티 OAuth2"]
	path = 스프링 시큐리티 OAuth2
	url = https://github.com/my-own-study/spring-security-oauth2.git
[submodule "스프링 핵심 원리 - 고급편"]
	path = 스프링 핵심 원리 - 고급편
	url = https://github.com/my-own-study/spring-advanced.git
[submodule "스프링 시큐리티"]
	path = 스프링 시큐리티
	url = https://github.com/my-own-study/spring-security.git
[submodule "스프링 핵심 원리 - 기본편"]
	path = 스프링 핵심 원리 - 기본편
	url = https://github.com/my-own-study/spring-core.git
[submodule "스프링 MVC 1편 - 백엔드 웹 개발 핵심 기술"]
	path = 스프링 MVC 1편 - 백엔드 웹 개발 핵심 기술
	url = https://github.com/my-own-study/spring-mvc-1.git
[submodule "스프링 MVC 2편 - 백엔드 웹 개발 활용 기술"]
	path = 스프링 MVC 2편 - 백엔드 웹 개발 활용 기술
	url = https://github.com/my-own-study/spring-mvc-2.git
[submodule "스프링 DB 1편 - 데이터 접근 핵심 원리"]
	path = 스프링 DB 1편 - 데이터 접근 핵심 원리
	url = https://github.com/my-own-study/spring-db-1.git
[submodule "스프링 DB 2편 - 데이터 접근 활용 기술"]
	path = 스프링 DB 2편 - 데이터 접근 활용 기술
	url = https://github.com/my-own-study/spring-db-2.git
